# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data
# We must allow synthetic data to be pushed so Streamlit Community Cloud can run instantly
# data/synthetic/*
!data/synthetic/.gitkeep

# Models
# We allow models so others can inspect them
# src/models/*.pkl
# src/models/*.json

# Logs
*.log
